@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;600;700;800&family=Poppins:ital,wght@0,300;0,400;0,500;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url("https://i.pinimg.com/1200x/98/56/5c/98565c9885c5f4a87fd1aee71cf0e356.jpg");
  /* position: absolute; */
  background-size: cover;
  overflow-x: hidden;
  background-position: center;
  background-repeat: no-repeat;
}

h2 {
  color: #ffffff;
  padding: 20px;
}

#busca {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#card {
  width: 20%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background: #2f2841;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
  position: absolute;
}

#bt {
  width: 100%;
  padding: 16px 10px;
  margin: 25px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  color: #2b134b;
  cursor: pointer;
}

#data {
  width: 100%;
  padding: 16px 1px;
  margin: 25px;
  border: none;
  border-radius: 8px;
  outline: none;
  color: #2b134b;
  cursor: pointer;
  text-align: center;
}

#titcard {
  color: white;
  margin-bottom: 20%;
  text-transform: uppercase;
  font-size: larger;
}

#cardNasa {
  margin: 50px auto;
  max-width: 80%;
  max-height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background: #2f2841;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
}

#nasaImg {
  width: 60%;
}

#descricao {
  font-size: 20px;
  color: #ffffff;
  padding: 20px;
}

#desc {
  background-color: #4b4166;
  margin: 20px;
  border-radius: 20px;
}

@media (max-width: 700px) {
  #card {
    height: 40%;
    width: 35%;
  }
}
